In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [40]:
df=pd.read_csv('house_data.csv')
df.head()

                  date      price  bedrooms  ...       city  statezip  country
0  2014-05-02 00:00:00   313000.0       3.0  ...  Shoreline  WA 98133      USA
1  2014-05-02 00:00:00  2384000.0       5.0  ...    Seattle  WA 98119      USA
2  2014-05-02 00:00:00   342000.0       3.0  ...       Kent  WA 98042      USA
3  2014-05-02 00:00:00   420000.0       3.0  ...   Bellevue  WA 98008      USA
4  2014-05-02 00:00:00   550000.0       4.0  ...    Redmond  WA 98052      USA

[5 rows x 18 columns]

In [41]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse_output=False)
city_encoded=ohe.fit_transform(df[['city']])
city_encoded_df=pd.DataFrame(city_encoded,columns=ohe.get_feature_names_out(['city']))
df.drop('city',axis=1,inplace=True)
df=pd.concat([df,city_encoded_df],axis=1)

In [42]:
X=df.drop(['statezip','country','street','price','date'], axis=1)
y=df['price']

In [43]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)
dt_reg=DecisionTreeRegressor(random_state=42)
rf=RandomForestRegressor(
    n_estimators=100,
    random_state=42
)

In [44]:
dt_reg.fit(X_train,y_train)
rf.fit(X_train,y_train)

y_pred_dt=dt_reg.predict(X_test)
y_pred_rf=rf.predict(X_test)

In [45]:
from sklearn.metrics import mean_squared_error,r2_score
print("DecisionTreeRegressor:")
print("MSE:",mean_squared_error(y_pred_dt,y_test))
print("R2:",r2_score(y_pred_dt,y_test))

DecisionTreeRegressor:
MSE: 763902666206.5332
R2: -2.9513729041069614

In [46]:
print("RandomForestRegressor")
print("MSE:",mean_squared_error(y_pred_rf,y_test))
print("R2:",r2_score(y_pred_rf,y_test))

RandomForestRegressor
MSE: 670781144960.2018
R2: -6.9316179831477305